
.container {
    padding: 2rem 0rem;
  }
  
  .table-image {
    
    thead {
      td, th {
        border: 0;
        color: #666;
        font-size: 0.8rem;
      }
    }
    
    td, th {
      vertical-align: middle;
      text-align: center;
      
      &.qty {
        max-width: 2rem;
      }
    }
  }
  
  .price {
    margin-left: 1rem;
  }
  
  .modal-footer {
    padding-top: 0rem;
  }




/*Checkout*/
.container {
    max-width: 960px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .border-top-gray { border-top-color: #adb5bd; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .lh-condensed { line-height: 1.25; }

